body {
  margin: 0;
}

.Landing-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./assests/landing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Landing-page h1 {
  font-size: 60px;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
}
.Landing-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.Landing-page-btn button {
  font-size: 20px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #214cb0;
  color: white;
}

.Landing-page-btn button:hover {
  cursor: pointer;
  background-color: #313de0;
}
.row1 {
  height: 50vh;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile-img {
  border: 1px solid white;
  border-radius: 10px;
  width: 350px;
  height: 350px;
}

.profile-img-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: var(--light-color);
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
  background-color: #e4e8f0;
  width: 420px;
}

.container p {
  padding: 0 20px 0 20px;
}

.container .skills {
  max-height: 140px;
  overflow: auto;
}

.row2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.education-container,
.experience-container {
  min-width: 50%;
  overflow: auto;
  border-radius: 12px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column; /* Make children stack vertically */
  justify-content: space-around;
  gap: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e8f0;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1;
}

.exp-header,
.edu-header {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.edu-header button {
  width: 30px;
  height: 30px;
}

.exp-header button {
  width: 30px;
  height: 30px;
}

.section {
  flex: 1;
  max-width: 48%;
  background-color: #e4e8f0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 300px; /* or whatever fixed height you want */
  overflow: hidden;
  position: relative;
}

.content-box {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
